@media screen and (min-width: 769px) {
  .container {
    padding: 2rem;
    display: grid;
    /* grid-template-columns: 2.2fr 1fr; */
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }
  .table {
    margin-bottom: 3rem;
  }
}
.container {
  padding-top: 3.1rem;
  padding-left: 0.7rem;
  padding-right: 1.3rem;
}
.heading {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: flex-start;
  color: #f5ebeb;
  font-size: 2rem;
  background-color: #d5b4b4;
  text-align: center;
  margin: 7rem -8rem 2rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 1rem;
  justify-content: center;
  text-align: center;
}

.tbody > tr > td {
  text-align: left;
  justify-content: center;
  text-align: center;
}

.tbody > tr > :nth-child(1) {
  width: 15%;
}

.tbody > tr > :nth-child(2) {
  width: 15%;
}
.tbody > tr > :nth-child(3) {
  width: 15%;
}
.tbody > tr > :nth-child(4) {
  width: 15%;
}
.tbody > tr > :nth-child(5) {
  width: 15%;
}

.imageTd > span > img {
  border-radius: 1rem;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 16rem;
  padding: 1.6rem;
  background-color: var(--cartBack);
  box-shadow: var(--shadow);
  border-radius: 15px;
}

.cart > span {
  font-weight: bold;
  font-size: 1.5rem;
}

.CartDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.CartDetails > div {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.buttons > * {
  font-size: 1rem;
  padding: 0rem 2rem;
}

.buttons > :nth-child(2) {
  background-color: transparent;
  color: var(--themeRed);
  border: 2px solid var(--themeRed);
}
