@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--themeBlack);
  background: var(--background-color);
  overflow-x: hidden;
  /* font-size: 100%; */
}

:root {
  --themeRed: #f54748;
  --themeBlack: #2e2e2e;
  --pink: #fdecec;
  --gray: #828282;
  --shadow: -4px 12px 20px -2px rgba(0, 0, 0, 0.19);
  --background-color: linear-gradient(
    180deg,
    rgba(255, 237, 237, 0.85) 0%,
    rgba(255, 255, 255, 0) 30rem
  );
  --cartBack: rgba(255, 255, 255, 0.38);
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: pink;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--themeRed);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: all 300ms ease;
}

.btnColor {
  width: max-content;
  padding: 0.5rem;
  border-radius: 4rem;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 400;
  background-color: var(--themeRed);
}


/*   header navbar    */
nav a{
  color:#716868d6;
  text-decoration: none!important;
}

.nav-item{
  margin-right: 1rem!important;
  padding: 4px 2px 4px 2px;
}

.fixedTop{
position: fixed!important;
top:0!important;
right:0!important;
left: 0!important;
z-Index: 9999!important;
background-color:#fae6e6!important;
padding: 10px 17px 10px 17px!important;
}

.justifyContent{
justify-Content:end;
}

.justifyContent li.nav-item a .active {
  color: #67c8bb!important;
}

i {
  cursor: pointer!important;
}
/*about us page*/


.cid-sK8XwkDPAS {
  padding-top: 3rem;
  padding-bottom: 1rem;
  position: relative;
  background-color: #ffffff;
}
.two_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: #fae6e6!important;
  z-index: 0;
}
@media (min-width: 992px){
.cid-sK8XwkDPAS .image_left {
    padding-top: 150px;
}
}
.cid-sK8XwkDPAS .image_left, .cid-sK8XwkDPAS .image_right {
  display: block;
  position: relative;
  left: 0;
  z-index: 1;
}
.cid-sK8XwkDPAS img {
  width: 100%;
  object-fit: cover;
}
.cid-sK8XwkDPAS .main_header {
  position: relative;
  z-index: 5;
  padding: 0 12px;
  margin: 0 4%;
}
.cid-sK8XwkDPAS .mbr-section-title {
  color: #3d1c22;
  margin: 25px 0;
}
.cid-sK8XwkDPAS .mbr-section-title {
  color: #3d1c22;
  margin: 25px 0;
}
.cid-sK8XwkDPAS .list_widget {
  margin-bottom: 43px;
}
.cid-sK8XwkDPAS .linkBtn a {
  position: relative;
  display: inline-block;
  padding: 1px 7px;
  vertical-align: middle;
  overflow: hidden;
  line-height: 2em;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: .2em;
}
.cid-sK8XwkDPAS .image_right {
  right: 0;
  left: auto;
}
.cid-sK8XwkDPAS .image_left, .cid-sK8XwkDPAS .image_right {
  display: block;
  position: relative;
  left: 0;
  z-index: 0000;
}
.cid-sK8XwkDPAS img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px){
  .aboutSec2{
    padding-left:5rem!important;
  }
  }
  @media (min-width: 766px) {
.flexRow{
display: flex;
}
  }



/* catering */

.cid-s5yYv1LlBg img {
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
}
.align-left {
  text-align: left;
}

.cid-s5yYv1LlBg .wrapper {
  /* background: #1c1c25; */
  padding: 1rem;
  border-radius: 8px;
}

.cid-s5yYv1LlBg .card-wrapper {
  display: flex;
  padding-bottom: 2rem;
}
.cid-s5yYv1LlBg .mbr-iconfont {
  padding-right: 1.5rem;
  font-size: 2rem;
  padding-top: 0.5rem;
  color: red;
}

  .mobi-mbri{
  font-family: 'Moririse2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.mobi-mbri-right:before {
  /* content: "\e96b"; */
  content: "*";
}

.cid-s5yYv1LlBg .card-title {
  transition: all 0.3s;
}

.cid-s5yYv1LlBg .card-text {
  color: black;
}
.card-text:last-child {
  margin-bottom: 0;
}
.card {
  background-color: transparent!important;
  border: none;
}
.main-title{
  color: red;
}
.cid-s5yYv1LlBg .card-wrapper:hover .card-text {
  color: red;
  transform: scale(1.1);
}
.cateringSec{
  /* background-color: #1c1c25; */
  background-image: url("../assets/New Folder/vadapav.jpg");
  background-repeat: no-repeat;
  border-radius: 8px;
}
.backgroundColor{
  background: linear-gradient(1deg, rgba(260,237,237,0.86) 40%, rgba(255,255,255,0) 28rem);
  border-radius: 20px;
}
.mobileView{
  margin-top: 3.8rem!important;
}
@media (max-width:992px){
.mobileView{
  display: none;
}
}