.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  flex: 1;
  color: #8c2a42;
  cursor: pointer;
}

.logo > span {
  font-weight: bold;
  font-size: 1.5rem;
}

.menu {
  flex: 1;
  display: flex;
  list-style: none;
  gap: 2rem;
  justify-content: center;
  z-index: 99;
}

.menu > li:hover {
  cursor: pointer;
  color: var(--themeRed);
}

.rightSide {
  justify-content: flex-end;
}

.cart {
  position: relative;
  display: flex;
  cursor: pointer;
  z-index: 99;
}

.badge {
  /* position: absolute; */
  font-size: 13px;
  position: relative;
  display: flex;
  background-color: var(--themeRed);
  color: white;
  border-radius: 50%;
  /* width: 20px;
    height:20px; */
  width: 1.3rem;
  height: 1.3rem;
  display: flex;
  justify-content: center;
  right: 0.5rem;
}

 a .active {
    background-color: #04AA6D;
    color: white;
  }

  @media screen and (max-width: 768px) {
  .logo > span {
    font-size: 0.8rem;
  }
  li .nav-item{
    padding: 4px 2px 4px 2px;
  }
}



