.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 4rem;
}
@media only screen and (max-width: 820px) and (min-width: 768px) {
  .container {
    text-align: center !important;
  }
}
.heading {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: flex-start;
}

.heading > :nth-child(1) {
  color: #f5ebeb;
  font-size: 2rem;
  background-color: #d5b4b4;
  text-align: center;
  margin: 0rem -8rem;
}

.heading > :nth-child(2),
.heading > :nth-child(3) {
  font-size: 2rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  align-items: center;
  justify-content: space-around;
}

.food {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.ImageWrapper {
  height: 14rem;
  width: 21rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.8rem;
}

.ImageWrapper > span > img:hover {
  transform: scale(1.1);
}

.food:hover {
  cursor: pointer;
}

@media screen and (max-width: 765px) {
  .heading > :nth-child(1) {
    font-size: 1.4rem;
  }
}
