/* 
@media screen and (min-width: 825px) {
    .heading{
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }
} */
/* @media screen and (max-width: 820px) { */
    .heading{
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        text-align: center;
        margin-top: 3rem;
        /* S
        
        align-items: center; */
    }
/* } */
.heading>:nth-child(1)
{
    color: var(--themeRed);
    font-size: 1rem;
    
}

.heading>:nth-child(2)
{ 
    font-size: 2rem;
    font-weight: bold;
}


@media screen and (min-width: 825px) {
    .services{
        display: flex;
        margin-top: 3rem;
        gap: 3rem;
        align-items: center;
        justify-content: center;
    
    }
}

@media screen and (max-width: 820px) {
    .services{
        display: block;
        margin-top: 3rem;
        gap: 3rem;
        align-items: center;
        justify-content: center;
    
    }
}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.ImageWrapper{
    width: 12rem;
    height: 12rem;
    margin: 0px auto 2rem auto;
}

.feature>:nth-child(2)
{
    font-weight: bold;
}

.feature>:nth-child(2)
{
    color: var(--gray);
    word-wrap: break-word;
    width: 20rem;
    text-align: center;

}
.subText{
    color: var(--gray);
    word-wrap: break-word;
    width: 20rem;
    text-align: center;
  
}
